html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-image: url('back.png');
    font-family: 'consolas';
    box-shadow: inset 0px 0px 25px 0px #000;
}
body {
    width: 100%;
    background: #224;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px 0px #000;
}
nav {
    width: 100%;
    height: 64px;
    background: #448;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px 0px #000;
}

.button-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button-element {
    height: 64px;
    margin: 0 16px;
}

h1 {
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 16px 0;
}

h2 {
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 16px 0;
}

h3 {
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 16px 0;
}
table,
th,
td {
    border: 1px solid white;
    padding: 10px;
    font-size: 15px;
}

form {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-request {
    margin-bottom: 16px;
    padding: 0 16px;
}

input {
    width: 112px;
    height: 32px;
    padding: 0 8px;
    background: #fff;
    border: none;
    margin: 16px 0;
}

button {
    width: 128px;
    height: 32px;
    background: #448;
    color: white;
    border: none;
    margin: 16px 0;
    box-shadow: 0px 0px 1px 0px #000;
}
button:hover {
    background: #fff;
    color: #000;
    transition: 0.3s;
}

.error-message {
    width: 100%;
    height: 32px;
    background: #844;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 16px 0;
    box-shadow: 0px 0px 1px 0px #000;
}

.checkbox {
    color: #fff;
    height: 16px;
    display: flex;
    margin: 8px;
}

.checkbox input {
    width: 16px;
    height: 16px;
    margin: 0 8px;
}